@import "src/assets/styles/variables/colors";

.container {
  box-sizing: border-box;
  padding: 0 15px 15px;
}

.text {
  height: 100%;
  box-sizing: border-box;
  border: 1px solid $ebb;
  margin: 0;
  padding: 10px;
  background-color: $white;
}
