@import "src/assets/styles/variables/colors";

$panel-size: 120px;

.header {
  border-bottom: 4px solid $web-orange;
  background-color: $silver-chalice;
  color: $white;
  padding: 15px;
}

.heading {
  margin: 0;
  font-size: 1.5em;
}

.toggleEditorButton {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 6px 15px;
  background-color: transparent;

  &:hover,
  &:active,
  &:focus {
    background-color: $seashell;
  }
}

.controlPanel {
  padding: 15px;
}

.textZone {
  height: calc(100vh - #{$panel-size});
}

.synonymsList {
  max-height: 200px;
  overflow-y: auto;
  margin-top: 15px;
  cursor: pointer;
}
